
body{
    background-color: #235784;
    color:#e3e3e3;
    
}

h1{  
font-size: 40px;
display:flex;
justify-content: center;
font-family: courier;
}

h3{
    font-size: 30px;
    color: #00204a;
    font-family: courier;
}

h4,p {
    border-radius: unset;
    display:flex;
    justify-content:flex-end;
    font-family:Georgia;
}

textarea{
    background-color:rgb(212, 229, 230);
    border-radius: 10px;
}

#file {
    background-color:rgb(208, 226, 236);

}

.box1{
    padding-top: 200px;
    padding-left: 40px; 
}

#but1, #but3{
    margin-top:30px;
}






/*.container{
    position: relative;
}

button{
  width: 200px;
  height: 40px;
  background-color:#e3e3e3;
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #73b1c1;
  border: 3px solid #233142;
  border-radius: 10px;
 
 
}

.but{
    text-align: center;
    top: 300px;
    padding-top: 50px;
} */

